//- banner.jade
div.row.service-container
  div.col-lg-12.service-header
    div.row.header
      div.container(onclick="location.href='/'", style="cursor: pointer")
        div.col-lg-10.col-md-10.col-sm-10.col-xs-12.dialog-description
          h1(style="font-size:50px;").service-title Sentiment and Emotion   
          p Sentiment and Emotion application uses text analytics to detect sentiment and emotions from people's digital footprints (e.g., online reviews and social media text). The application can offer positive or negative sentiment and emotions of "anger", "disgust", "sadness", "fear" and "joy".
          
            //- a.resource-item(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/xxx/') Documentation
            //- a.resource-item(href='https://github.com/watson-developer-cloud/emotion-analysis-nodejs') Fork on Github
            //- a.resource-item(href='https://bluemix.net/deploy?repository=https://github.com/watson-developer-cloud/emotion-analysis-nodejs.git') Fork and Deploy on Bluemix
