//- footer.jade
footer.text-center
	div
		a(href='/about') About
		span.separator |
		a(href='/tos') Terms of Use
		span.separator |
		a(href='http://www.ibm.com/privacy/us/en/') Privacy Policy
	div
		a(href='http://github.com/watson-developer-cloud/sentiment-and-emotion') Fork on Github
		span.separator |
		a(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/') Built with IBM Watson
